<app-currency-pair-selector (selectedCurrencyPair)="onCurrencyPairChanged($event)"></app-currency-pair-selector>
<div class="timeframe-selector">
  <label for="timeframe">Timeframe:</label>
  <select id="timeframe" [value]="'1h'" (change)="onTimeframeChanged($event)">
    <option value="1m">1 minute</option>
    <option value="5m">5 minutes</option>
    <option value="15m">15 minutes</option>
    <option value="30m">30 minutes</option>
    <option value="1h">1 hour</option>
    <option value="1d">1 day</option>
    <option value="1w">1 week</option>
    <option value="1M">1 month</option>
  </select>
</div>
<app-chart #chart [timeframe]="selectedTimeframe"
           [symbol]="selectedSymbol"
           [realtimeTimeframe]="realtimeTimeframe"></app-chart>
<app-active-trades></app-active-trades>
<app-trade-form
  (buySubmit)="onBuySubmit($event)"
  (sellSubmit)="onSellSubmit($event)"
></app-trade-form>

